.container {
  width: 100%;
}

.clicker {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 10px 3px #DDD;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.content {
  background: gray;
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}


.menu {
  flex: 2;
  display: flex;
}

.menu > .button {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.button:hover {
  background: #AAA;
}