.container {
  width: 100%;
}

.clicker {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 2px 2px #CCC;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
}

.content {
  background: #FAFBFD;
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}


.menu {
  flex: 2;
  display: flex;
}

.menu > .button {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.button.plus {
  background: #A846A0;
}

.button.minus {
  background: #2B59C3;
}

.button.reset {
  background: #23CE6B;
}

.button:hover {
  background: #AAA;
}

.button > svg {
  color: white;
}